* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.cont {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.articles-cont {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card {
    min-height: 200px;
    width: 95%;
    padding: 20px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.422);
    background-color: white;
    position: relative;
}

.title {
    font-size: 25px;
    font-weight: 550;
    text-transform: capitalize;
}

.author {
    font-weight: 550;
    color: rgba(39, 37, 181, 0.765);
}

.date {
    font-size: 11px;
    font-weight: lighter;
}

.desc {
    text-transform: capitalize;
}

.new-bttn,
.info-bttn {
    padding: 5px 20px;
    background-color: aliceblue;
    border-radius: 11px;
    border: 3px solid rgb(0, 0, 109);
    font-weight: 550;
    cursor: pointer;
}

.info-bttn {
    width: 75px;
    padding: auto;
    margin-top: 5px;
}

.del-bttn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border: 1px solid red;
}

/* F_O_R_M */
.form-cont {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
textarea {
    padding: 5px 20px;
}



/* A_R_T_I_C_L_E */
.details-cont {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.home-bttn,
.delete-bttn,
.edit-bttn {
    padding: 5px 20px;
    background-color: aliceblue;
    border-radius: 11px;
    border: 3px solid rgb(0, 0, 109);
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}
